<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>新闻资讯</title>
    <!-- 引入Bootstrap -->
    <link rel="stylesheet" href="/static/Bootstrap/css/bootstrap.min.css"/>
    <!-- 引入jQuery -->
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <!-- 引入Bootstrap的JavaScript插件 -->
    <script src="/static/Bootstrap/js/bootstrap.min.js"></script>

    <link href="/static/css/sb-admin-2.css" rel="stylesheet"/>
    <script src="/static/js/sb-admin-2.js"></script>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/common.css" rel="stylesheet" type="text/css"/>


    <script type="text/javascript">
        // 删除新闻
        function deleteNews(id) {
            if (confirm('确实要删除该新闻吗?')) {
                $.post("/newsController/delete",
                    {"id": id},
                    function (data) {
                        alert(data.description);
                        window.location.reload();
                    });
            }
        }
    </script>
</head>
<body>
<div id="wrapper">
    <!-- 导航栏部分 -->
    <div th:replace="~{navbar :: nav }"></div>
    <!-- 新闻列表查询部分  start-->
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">新闻管理</h3>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form method="post"
                      action="/newsController/list"
                      class="form-inline">
                    <div class="form-group">
                        <label>新闻标题</label>
                        <input th:value="${title}" name="title" type="text" class="form-control"/>
                    </div>
                    <button type="submit" class="btn btn-warning">查询</button>
                </form>
            </div>
        </div>

        <div>
            <a href="/newsController/prepareInsert" class="btn btn-primary" style="float:left">新建</a>
            <a href="/newsController/list" class="btn btn-success" style="float:right">刷新</a>
        </div>
        <br><br><br>

        <!-- 新闻列表 -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">新闻信息列表</div>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>编号</th>
                            <th>新闻标题</th>
                            <th>新闻配图</th>
                            <th>新闻发布者</th>
                            <th>发布时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="news : ${pageInfo.list}">
                            <td th:text="${news.id}" style="text-align: center;vertical-align:middle"></td>
                            <td th:text="${news.title}" style="text-align: center;vertical-align:middle"></td>
                            <td style="text-align: center;vertical-align:middle">
                                <img style="width: 210px;height: 140px" th:src="${news.image}" th:alt="${news.title}">
                            </td>
                            <td th:text="${news.publisher}" style="text-align: center;vertical-align:middle"></td>
                            <td th:text="${#dates.format(news.createTime, 'yyyy-MM-dd HH:mm:ss')}" style="text-align: center;vertical-align:middle">
                            </td>
                            <td style="text-align: center;vertical-align:middle">
                                <a th:href="|/newsController/prepareUpdate?id=${news.id}|"
                                   th:if="${session.employee.role == '13'}"
                                   class="btn btn-primary btn-xs">修改</a>
                                <a href="#" th:onclick="|deleteNews(${news.id})|"
                                   th:if="${session.employee.role == '13'}"
                                   class="btn btn-danger btn-xs">删除</a>
                                <a th:href="|/newsController/detail?id=${news.id}|"
                                   class="btn btn-primary btn-xs">查看</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    <div class="row">
                        <div class="col-md-6">
                            第[[${pageInfo.pageNum}]]页，共[[${pageInfo.pages}]]页，共[[${pageInfo.total}]]条记录
                        </div>
                        <div class="col-md-6 offset-md-4">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-sm">
                                    <li class="page-item">
                                        <a class="page-link" th:href="|/newsController/list?page=1&title=${title}|">首页
                                        </a>
                                    </li>
                                    <li class="page-item" th:if="${pageInfo.hasPreviousPage}">
                                        <a class="page-link"
                                           th:href="/newsController/list?page=${pageInfo.pageNum-1}&title=${title}">上一页</a>
                                    </li>

                                    <li class="page-item" th:each="page : ${pageInfo.navigatepageNums}">
                                        <a class="page-link"
                                           th:classappend="${page==pageInfo.pageNum ? 'active' : '' }"
                                           th:href="|/newsController/list?page=${page}&title=${title}|"
                                           th:text="${page}">
                                        </a>
                                    </li>

                                    <li class="page-item" th:if="${pageInfo.hasNextPage}">
                                        <a class="page-link"
                                           th:href="|/newsController/list?page=${pageInfo.pageNum+1}&title=${title}|">下一页</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link"
                                           th:href="|/newsController/list?page=${pageInfo.pages}&title=${title}|">末页</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 新闻列表查询部分  end-->
</div>
</body>
</html>