<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.fms.mapper.DictionaryMapper" >
  <!-- 依据编码查询字典数据 --> 
  <select id="queryByCode" resultType="dictionary" parameterType="integer" >
      select * from dictionary where code = #{code}
  </select>

</mapper>
