<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.mapper.EngineerMapper">

    <resultMap id="BaseResultMap" type="com.cn.pojo.Engineer">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,gender,
        age
    </sql>

    <select id="queryByAge" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_engineer
        where
        age = #{age,jdbcType=NUMERIC}
    </select>

</mapper>
